.main-layout{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .main-content{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
        
    }

    header {
        border-bottom: 1px solid #04718c;
        
    }
    
    footer {
        border-top: 1px solid #04718c;
        align-self: flex-end;
    }

    .navbar, .footer {
        flex-shrink: 0;
    }



}