.cards-container {
  background-color: #005163;
  display: flex;
  gap: 50px; /* Espacio entre tarjetas */
  justify-content:space-around; /* Centra las tarjetas en el contenedor */
  flex-wrap: wrap; /* Permite que las tarjetas se ajusten en múltiples líneas si es necesario */
  margin-top: 100px;
  width: 80%;
  margin-left: auto; /* Centra el contenedor horizontalmente */
  margin-right: auto;
  border-radius: 10px;
}

.card {
  margin-top: 20px;
  cursor: pointer;
  border: 1px solid #120b0b;
  background-color: #ddd;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  width: 350px; /* Ancho de la tarjeta */
  height: 300px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.1);
}

.card-image {
  width: 100%;
  height: 200px; /* Altura fija para la imagen */
  object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
}

.card h3 {
  color: #120b0b;
  margin: 10px;
  font-size: 1.2em;
}

.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegúrate de que esté por encima de otros contenidos */
}

.video-modal {
  position: relative;
  width: 80%;
  max-width: 800px; /* Ancho máximo para el modal */
  background: #007089;
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
}

.video-modal iframe {
  width: 100%;
  height: 450px; /* Ajusta según sea necesario */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ff0000;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.close-button:hover {
  background: #cc0000;
}
.logo-image {
  display: block;
  margin: 0 auto 20px auto; /* Espaciado entre el logo y el video */
  max-width: 200px; /* Ajusta el tamaño del logo según sea necesario */
}