// RedirectButton.module.scss

.boxButton{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
  width: 100%;
}

.button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: white;
  background-color: #007089;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin: 40px 160px;
  cursor: pointer;
  
    &:hover {
      background-color: #00829f;; // Color de fondo azul oscuro en hover
    }
  
    &:focus {
      outline: none; // Sin contorno en el foco
    }
  }
  