/* Footer.css */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #005163;
    color: white;
  }
  
  .footer-left {
    display: flex;
    flex-direction: column;
  }
  
  .footer-logo {
    width: 200px; /* Ajusta el tamaño del logo según sea necesario */
  }
  
  .footer-slogan {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .redes{
    width: 150px;
    margin: 1rem;
    display: grid;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
    align-items: center;
  }

  a{
    color: rgb(175,175,179);
    text-decoration: none;
  }

  .socialmedia{
    display: flex;
    flex-direction: row;
  }

  .socialmedia img{
    width: 80%;
  }

  .redes h4{
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0.9rem;
  }

  .redes p{
    font-size: 12px;
    line-height: 15px;
    margin: 0.5rem 0;
    cursor: pointer
  }

  .copyright {
    text-align: center;
    flex: 1;
  }
  
  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .footer-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-right li {
    margin-bottom: 5px;
  }
  
  .footer-right a {
    color: white;
    text-decoration: none;
  }
  
  .footer-right a:hover {
    text-decoration: underline;
  }
  