.text-container {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con 50% de opacidad */
    width: 70%; /* Ancho del contenedor del 70% del ancho total */
    margin: 60px auto; /* Margen superior e inferior de 20px, centrado horizontalmente */
    padding: 20px; /* Relleno interior de 20px */
    color: white; /* Color de texto blanco */
    text-align: center; /* Alineación del texto al centro */
    border-radius: 15px;
    margin-bottom: 50px;
  }
  
  .text-container h2 {
    font-size: 30px; /* Tamaño de fuente para el título */
    margin-bottom: 25px; /* Espacio inferior entre el título y el párrafo */
  }
  
  .text-container p {
    font-size: 20px; /* Tamaño de fuente para el párrafo */
    line-height: 1.5; /* Espaciado de línea del párrafo */
    text-align: justify;
  }
 
/*Texto2: tu salud nos importa*/  
  .text-container2 {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    width: 80%;
    margin: 60px auto;
    padding: 20px;
    color: white;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 100px;
  }
  
  .text-container2-image {
    flex: 1;
    margin-right: 20px; /* Espacio entre la imagen y el contenido */
  }
  
  .text-container2-image img {
    width: 100%; /* Ajusta el tamaño de la imagen al contenedor */
    border-radius: 10px; /* Bordes redondeados para la imagen */
  }
  
  .text-container2-content {
    flex: 3; /* El contenido ocupa más espacio que la imagen */
  }
  
  .text-container2 h2 {
    font-size: 30px;
    margin-bottom: 15px; /* Menos espacio entre el título y el párrafo */
  }
  
  .text-container2 p {
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
  }

/*Texto3: correo*/
.text-container3 {
  width: 70%; /* Ancho del contenedor del 70% del ancho total */
  margin: 60px auto; /* Margen superior e inferior de 20px, centrado horizontalmente */
  padding: 20px; /* Relleno interior de 20px */
  color: white; /* Color de texto blanco */
  text-align: center; /* Alineación del texto al centro */
  border-radius: 15px;
  margin-bottom: 50px;
}

.text-container3 h2 {
  font-size: 50px; /* Tamaño de fuente para el título */
  margin-bottom: 25px; /* Espacio inferior entre el título y el párrafo */
}

.text-container3 p {
  font-size: 40px; /* Tamaño de fuente para el párrafo */
  line-height: 1.5; /* Espaciado de línea del párrafo */
  text-align: center;
}