body {
  background-color: #005163; /* Color de fondo de la página */
  color: #fff; /* Color de texto */
  font-family: Roboto, sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Contenedor principal */
.home {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #fff; /* Color de texto del título */
}

/* Formularios */
.formContainer {
  background-color: #002E38; /* Color de fondo del formulario */
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.inputBox label {
  margin-bottom: 5px;
  font-weight: bold;
}

.inputBox input,
.inputBox textarea {
  padding: 10px;
  border: 1px solid #007089;
  border-radius: 4px;
  background-color: #005163; /* Color de fondo de los inputs */
  color: #fff; /* Color del texto de los inputs */
  width: 100%; /* Asegura que las cajas de entrada ocupen todo el ancho disponible */
  box-sizing: border-box; /* Incluye el padding y el borde en el ancho y alto */
}

.inputBox textarea {
  resize: vertical;
  min-height: 100px; /* Ajusta la altura mínima del área de texto */
  max-height: 300px; /* Ajusta la altura máxima del área de texto */
}

.button {
  padding: 10px 15px;
  background-color: #007089;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%; /* Asegura que el botón ocupe todo el ancho disponible */
  box-sizing: border-box; /* Incluye el padding y el borde en el ancho */
}

.button:hover {
  background-color: #005163;
}

/* Lista de preguntas */
.preguntasList {
  list-style-type: none;
  padding: 0;
}

.preguntaItem {
  background-color: #002E38; /* Color de fondo de cada pregunta */
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  position: relative;
}

.preguntaItem h2 {
  margin: 0 0 10px 0;
  color: #fff; /* Color del texto del título de la pregunta */
}

.preguntaItem p {
  margin: 0 0 20px 0; /* Aumenta el espacio inferior para crear más separación */
  color: #fff; /* Color del texto de la descripción de la pregunta */
  white-space: pre-wrap; /* Mantiene los saltos de línea y espacios en blanco */
  word-wrap: break-word; /* Ajusta las palabras largas para que se ajusten al ancho del contenedor */
}

/* Información del usuario */
.preguntaUsuario {
  display: flex;
  align-items: center;
  margin-top: 30px; /* Aumenta el espacio superior para crear más separación */
}

.preguntaUsuario img {
  border-radius: 50%;
  margin-right: 10px;
  width: 50px; /* Ajusta el ancho de la imagen */
  height: 50px; /* Ajusta la altura de la imagen */
  object-fit: cover; /* Asegura que la imagen se ajuste dentro del contenedor sin distorsionarse */
}

.preguntaUsuario p {
  margin: 0;
  font-weight: bold; /* Negrita para el nombre del usuario */
}

.verificado {
  color: #fff; /* Color para indicar verificación */
  margin-left: 5px;
}

/* Contenedor de íconos */
.icons {
  display: flex;
  justify-content: flex-end; /* Alinea los íconos a la derecha */
  gap: 15px; /* Espaciado entre los íconos */
  margin-top: 10px;
}

.iconContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.iconInactive {
  color: #007089;
}

.iconActive {
  color: #ffffff;
}

.iconDropdown {
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #005163;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdownContent {
  display: block;
}

/* Enlaces */
.preguntaItem a {
  text-decoration: none;
  color: inherit;
}

.preguntaItem a:hover {
  color: #005163; /* Cambia el color al pasar el cursor */
}

/* Menú desplegable */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #005163;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdownContent button {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.dropdownContent button:hover {
  background-color: #007089;
}

/* Estilos para respuestas */
.respuestaItem {
  background-color: #005163; /* Color de fondo de cada respuesta */
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Lista de respuestas */
ul {
  list-style-type: none; /* Quita los círculos de la lista */
  padding: 0; /* Elimina el padding por defecto */
  margin: 0; /* Elimina el margin por defecto */
}

/* Estilo para cada respuesta */
.respuestaUsuario {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.respuestaUsuario img {
  border-radius: 50%;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.respuestaUsuario p {
  margin: 0;
  font-weight: bold;
}
